<div class="flex flex-col flex-auto w-full">
    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
        <div class="flex items-center justify-between w-full header-container">
            <div>
                <div class="text-3xl font-semibold tracking-tight leading-8" style="color: #1DA1F2;">Employees</div>
                <div class="font-medium tracking-tight text-secondary">Create, edit and delete employees</div>
            </div>
            <div class="flex items-center search-create-section">
                <div class="search-container">
                    <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64" [subscriptSizing]="'dynamic'">
                        <mat-icon class="icon-size-5" matPrefix
                            [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                        <input matInput [formControl]="searchInputControl" [autocomplete]="'off'"
                            [placeholder]="'Search employee'">
                    </mat-form-field>
                </div>

                <div class="ml-2">
                    <!-- <button class="fuse-mat-button-large w-auto create-new" mat-flat-button [color]="'primary'"
                        (click)="createEmployee()">
                        <span>
                            Create
                        </span>
                    </button> -->
                    <div class="add-icon" (click)="createEmployee()">
                        <mat-icon matTooltip="Add Employee">add_circle</mat-icon>
                    </div>
                </div>
            </div>
        </div>

        <div class=" w-full mt-8">
            <table mat-table [dataSource]="filteredEmployeeList" class="mat-elevation-z8 tab-web-resp">

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name</th>
                    <td mat-cell *matCellDef="let element">{{element?.name}}</td>
                </ng-container>

                <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef> Role </th>
                    <td mat-cell *matCellDef="let element"> {{element?.role}} </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element?.date_from | date:'YYYY MMM dd'}} -
                        {{element?.date_to | date:'YYYY MMM dd'}}</td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let element" class="action-cell-td">
                        <div class="card-btn-section">
                            <div class="card-icon" matTooltip="Edit" (click)="editEmployee(element)">
                                <img src="../../../../../assets/images/svg/edit-icon.svg" alt="delete-icon">
                            </div>
                            <div class="card-icon branch-more-details-icon" matTooltip="Delete"
                                (click)="deleteEmployee(element)">
                                <img src="../../../../../assets/images/svg/delete-icon.svg" alt="branch-details-icon">
                            </div>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnBranches"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnBranches;"></tr>
            </table>

            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mt-0 sm:mt-0 mobile-resp">
                <ng-container *ngFor="let employee of filteredEmployeeList">
                    <div class="flex flex-col h-70 shadow rounded-2xl overflow-hidden bg-card mb-5">
                        <div class="flex flex-col p-6">
                            <div class="mt-4 text-lg font-medium">
                                {{employee?.name}}
                            </div>
                            <div class="mt-0.5 line-clamp-2 text-secondary">
                                {{employee?.role}}
                            </div>
                            <div class="mt-0.5 line-clamp-2 text-secondary">
                                {{employee?.date_from | date:'YYYY MMM dd'}} - {{employee?.date_to | date:'YYYY MMM dd'}}
                            </div>
                            <div class="w-30 h-1 my-3 border-t-2"></div>
                            <div class="card-btn-section">
                                <div class="card-icon" matTooltip="Edit" (click)="editEmployee(employee)">
                                    <img src="../../../../assets/images/svg/edit-icon.svg" alt="delete-icon">
                                </div>
                                <div class="card-icon branch-more-details-icon" matTooltip="Delete"
                                    (click)="deleteEmployee(employee)">
                                    <img src="../../../../assets/images/svg/delete-icon.svg" alt="branch-details-icon">
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>

            <ng-container *ngIf="employeeList?.length == 0">
                <div class="no-data-found">
                    <!-- <p>No Employee found</p> -->
                     <img src="../../../../../assets/images/svg/no-emploee-found.svg" alt="">
                </div>
            </ng-container>
        </div>
    </div>
</div>